@font-face {
	font-family: 'CandelaBook';
	src: url('../type/CandelaBook-webfont.eot');
	src: local('☺'), url('../type/CandelaBook-webfont.woff') format('woff'), 
	url('../type/CandelaBook-webfont.ttf') format('truetype'), 
	url('../type/CandelaBook-webfont.svg#webfontZnhrwNxJ') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family:'CandelaBook', Tahoma, sans-serif;
	font-size:14px;
	overflow:auto;
}
h1{
	font-weight:normal;
	font-size:36px;
}
a{
	text-decoration:none;
}
a:link{
	color:#000;
}
a:hover{
	color:#999;
}
a:visited{
	color:#000;
}
a:active{
	color:#999;
}





.master{
	width:100%;
	height:100%;
}


/* background layout */
.balken{
	background-image:url(../images/balken-02.png);
	background-position:center center;
	width:100%;
	height: 48px;
}
.oben{
	position:absolute;
	top:60px;
}
.unten{
	position:absolute;
	bottom:10px;
}
.unten_relative{
	position:relative;
	bottom:10px;
}
.piupiu{
	background-image:url(../images/piupiu-02.png);
	position:absolute;
	width:66px;
	height:80px;
	top:5px;
	left:15px;
}



/* content formatierung*/
.content{
	
}

.text{
	position:relative;
	margin-top:130px;
	margin-left:80px;
	margin-right:40%;
}

.text2{
	position:relative;
	margin-top:130px;
	margin-left:80px;
	width:400px;
}

.textklein{
	font-size:10px;
}








/* menubar formatierung*/
.rahmen_profilbild{
	background-image:url(../images/rahmen_profilbild-02.png);
	cursor:pointer;
	position:absolute;
	width:80px;
	height:70px;
	overflow:hidden;
	top:20px;
	right:420px;
}
.rahmen_profilbild:hover{
	background-position: 0px 70px;
}
.rahmen_profilbild > img {
  position: relative;
  top: 9px;
  left: 6px;
  width: 64px;
}

.aktiv{
	background-position: 0px 70px;
}
.rahmen_profilbild.aktiv > img {
  top:8px;
}

.overview_link{
	background-image:url(../images/overview_link-02.png);
	cursor:pointer;
	position:absolute;
	width:80px;
	height:70px;
	overflow:hidden;
	top:15px;
	right:330px;
}
.overview_link:hover{
	background-position: 0px 70px;
}

.new_post{
	background-image:url(../images/new_post-02.png);
	cursor:pointer;
	position:absolute;
	width:80px;
	height:70px;
	overflow:hidden;
	top:15px;
	right:240px;
}
.new_post:hover{
	background-position: 0px 70px;
}

.logout{
	background-image:url(../images/logout-02.png);
	cursor:pointer;
	position:absolute;
	width:80px;
	height:70px;
	overflow:hidden;
	top:15px;
	right:150px;
}
.logout:hover{
	background-position: 0px 70px;
}

.wtf{
	background-image:url(../images/wtf-02.png);
	cursor:pointer;
	position:absolute;
	width:80px;
	height:70px;
	overflow:hidden;
	top:13px;
	right:70px;
}
.wtf:hover{
	background-position: 0px 70px;
}
.impressum{
	background-image:url(../images/impressum-02.png);
	cursor:pointer;
	position:absolute;
	width:80px;
	height:70px;
	overflow:hidden;
	top:10px;
	right:1px;
}
.impressum:hover{
	background-position: 0px 70px;
}




/*startseite icons */

.start_container{
	position:absolute;
	width:550px;
	height:300px;
	margin:-100px 0px 0px -275px;
	top:50%;
	left:50%;
}

.login_feld{
	position:absolute;
	left:30px;
	top:150px;
}
.login{
	position:absolute;
	top:0px;
	left:400px;
	width:200px;
	height:250px;
	margin-left:-30px;
}
.login .login_feld{
	display:none;
}
.login:hover .login_feld{
	display:block;
}

.forgot_pw{
	background-image:url(../images/forgot_pw-06.png);
	cursor:pointer;
	width:70px;
	height:25px;
	overflow:hidden;
	position:absolute;
	top:50px;
	left:0px;
}
.forgot_pw:hover{
	background-position: 0px 25px;
}
.check, .check_mark{
	background-image:url(../images/check-07.png);
	cursor:pointer;
	width:25px;
	height:25px;
	overflow:hidden;
	position:absolute;
	top:50px;
	right:30px;
	background-color:#FFF;
	border:none;
}
.check:hover{
	background-position: 0px 25px;
}
.check_mark{
	cursor:default;
	top:195px;
	right:205px;
}


.start_login{
	background-image:url(../images/start_login-03.png);
	cursor:pointer;
	width:150px;
	height:150px;
	overflow:hidden;
	position:absolute;
	top:0px;
	left:30px;
}
.start_login:hover{
	background-position: 0px 150px;
}

.start_signup{
	background-image:url(../images/start_signup-03.png);
	cursor:pointer;
	width:150px;
	height:150px;
	overflow:hidden;
	position:absolute;
	top:0px;
	left:200px;
}
.start_signup:hover{
	background-position: 0px 150px;
}

.start_wtf{
	background-image:url(../images/start_wtf-03.png);
	cursor:pointer;
	width:150px;
	height:150px;
	overflow:hidden;
	position:absolute;
	top:0px;
	left:0px;
}
.start_wtf:hover{
	background-position: 0px 150px;
}
.pw_wrong{
	position:absolute;
	top:-40px;
	left:440px;
}







/* untermenu fomratierung */

.new_old{
	background-image:url(../images/new_old-04.png);
	cursor:pointer;
	position:absolute;
	width:70px;
	height:40px;
	overflow:hidden;
	top:100px;
	left:15px;
}
.new_old:hover{
	background-position: 0px 40px;
}

.aktiv_untermenu{
	background-position: 0px 40px;
}

.old_new{
	background-image:url(../images/old_new-04.png);
	cursor:pointer;
	position:absolute;
	width:70px;
	height:40px;
	overflow:hidden;
	top:100px;
	left:110px;
}
.old_new:hover{
	background-position: 0px 40px;
}

.big_small{
	background-image:url(../images/big_small-04.png);
	cursor:pointer;
	position:absolute;
	width:70px;
	height:40px;
	overflow:hidden;
	top:100px;
	left:200px;;
}
.big_small:hover{
	background-position: 0px 40px;
}

.small_big{
	background-image:url(../images/small_big-04.png);
	cursor:pointer;
	position:absolute;
	width:70px;
	height:40px;
	overflow:hidden;
	top:100px;
	left:280px;
}
.small_big:hover{
	background-position: 0px 40px;
}


/* communication content */

.download{
	background-image:url(../images/download-02.png);
	cursor:pointer;
	position:absolute;
	overflow:hidden;
	width:80px;
	height:70px;
	bottom:15px;
	right:270px;
	background-color:#FFF;
	border:none;
}
.download:hover{
	background-position: 0px 70px;
}
.upload{
	background-image:url(../images/upload-02.png);
	cursor:pointer;
	position:absolute;
	width:80px;
	height:70px;
	overflow:hidden;
	bottom:15px;
	right:180px;
	background-color:#FFF;
	border:none;
}
.upload:hover{
	background-position: 0px 70px;
}
.delete_pic{
	background-image:url(../images/delete-02.png);
	cursor:pointer;
	position:absolute;
	width:80px;
	height:70px;
	overflow:hidden;
	bottom:15px;
	right:90px;
	background-color:#FFF;
	border:none;
}
.delete_pic:hover{
	background-position: 0px 70px;
}
.submit_popup{
	background-image:url(../images/submit_button-02.png);
	cursor:pointer;
	position:absolute;
	width:81px;
	height:70px;
	overflow:hidden;
	bottom:15px;
	right:0px;
	background-color:#FFF;
	border:none;
}
.submit_popup:hover, .submit_popup.disabled{
	background-position: 0px 70px;
}

#p1_info{
	display:none;
}
.container_pic{
	width:100%;
	height:500px;
	text-align:center;
	vertical-align:middle;
}
.big_pic{
	max-height:100%;
	max-width:100%;
}
.small_pic{
	display:block;
	max-height:100%;
	max-width:100%;
	vertical-align:middle;
	position:relative;
	text-align:center;
}




/* Ansicht communication */
.picture{
	position:absolute;
	background-color:#CCC;
	height:200px;
	width:200px;
	
}
.p1{
	top:130px;
	left:80px;
}
.p2{
	top:130px;
	left:360px;
}

#overlay_pictures{
	position:absolute;
	display:none;
	/*left:-20px;
	bottom:30px;*/
	height:48px;
	width:64px;
	border:solid 2px black;
	background-color:#FFF;
}

.plus_add{
	background-image:url(../images/plus_add-05.png);
	cursor:pointer;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	bottom:2px;
	right:40px;
}
.plus_add:hover{
	background-position: 0px 30px;
}

.lupe{
	background-image:url(../images/lupe-05.png);
	cursor:pointer;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	bottom:2px;
	right:3px;
}
.lupe:hover{
	background-position: 0px 30px;
}
/*.picture #overlay_pictures{
	display:none;
}
.picture:hover #overlay_pictures{
	display:block;
}*/
.verbindung_rechts{
	background-image:url(../images/verbindungspfeilrechts-09.png);
	background-repeat:repeat-x;
	position:absolute;
	top:230px;
	left:280px;
	width:78px;
	height:7px;
	
}




/* zoom */
.plus_zoom{
	background-image:url(../images/plus_zoom-05.png);
	cursor:pointer;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	top:110px;
	right:10px;
}
.plus_zoom:hover{
	background-position: 0px 30px;
}
.minus_zoom{
	background-image:url(../images/minus_zoom-05.png);
	cursor:pointer;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	top:160px;
	right:10px;
}
.minus_zoom:hover{
	background-position: 0px 30px;
}

/* übersichtsleiste unten */
.point_left{
	background-image:url(../images/point_left-08.png);
	cursor:pointer;
	position:absolute;
	width:50px;
	height:65px;
	overflow:hidden;
	bottom:35px;
	left:20px;
	z-index:2;
}
.point_left:hover{
	background-position: 0px 65px;
}
.point_right{
	background-image:url(../images/point_right-08.png);
	cursor:pointer;
	position:absolute;
	width:50px;
	height:65px;
	overflow:hidden;
	bottom:35px;
	right:20px;
	z-index:2;
}
.point_right:hover{
	background-position: 0px 65px;
}
.overview_bar{
	position:absolute;
	background-color:#FFF;
	border:2px solid #000;
	left:64px;
	right:64px;
	bottom:10px;
	height:100px;
	width:auto;
	z-index:1;
}
.overview_bar_unten_hover{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:10px;
}
.bsp_komm_unten{
	width:100px;
	height:100px;
}
.overview_bar_profilbilder_overlay{
	position:absolute;
	width:66px;
	height:24px;
	top:-12px;
	left:17px;
	border:2px solid black;
	z-index:2;
}
.overview_bar_creator_overlay{
	background-color:#999;
	position:absolute;
	left:0px;
	top:0px;
	width:33px;
	height:24px;
}
.overview_bar_last_contributor_overlay{
	background-color:#333;
	position:absolute;
	top:0px;
	right:0px;
	width:33px;
	height:24px;
}
.overview_bar_unten_hover .overview_bar_profilbilder_overlay{
	display:none;
}
.overview_bar_unten_hover:hover .overview_bar_profilbilder_overlay{
	display:block;
}







/*signup formatierung*/
#signupform td{
	height:30px;
}
.submit{
	background-image:url(../images/submit_button-02.png);
	cursor:pointer;
	position:absolute;
	width:80px;
	height:70px;
	overflow:hidden;
	left:430px;
	bottom:5px;
	background-color:#FFF;
	border:none;
}
.submit:hover{
	background-position: 0px 70px;
}
#zeichentool{
 	width:330px;
	height:240px;
	border: 2px solid black;
}
.reset_processing{
	background-image:url(../images/delete-02.png);
	cursor:pointer;
	position:absolute;
	width:80px;
	height:70px;
	overflow:hidden;
	left:340px;
	bottom:5px;
}
.reset_processing:hover{
	background-position: 0px 70px;
}






/* profilseite content*/
.rahmen_profilbild_gross{
	background-image:url(../images/rahmen_gross-10.png);
	position:absolute;
	top:110px;
	left:10px;
	width:244px;
	height:163px;
}
.rahmen_profilbild_gross img{
  position:relative;
  top:9px;
  left: 11px;
}
.strichi_profil{
	background-image:url(../images/strichi_profil-11.png);
	background-position:260px center;
	background-repeat:no-repeat;
	width:100%;
	height:30px;
	top:280px;
	position:absolute;
}
.delete_profile{
	background-image:url(../images/delete_profile-02.png);
	cursor:pointer;
	position:absolute;
	width:80px;
	height:70px;
	overflow:hidden;
	bottom:50px;
	left:10px;
	background-color:#FFF;
	border:none;
}
.delete_profile:hover{
	background-position: 0px 70px;
}
.change_pw{
	background-image:url(../images/pw_change-14.png);
	cursor:pointer;
	position:absolute;
	width:81px;
	height:35px;
	overflow:hidden;
	bottom:150px;
	left:10px;
}
.change_pw:hover{
	background-position: 0px 35px;
}
.change_pic{
	background-image:url(../images/profil_pic_change-15.png);
	cursor:pointer;
	position:absolute;
	width:81px;
	height:55px;
	overflow:hidden;
	bottom:200px;
	left:10px;
}
.change_pic:hover{
	background-position: 0px 55px;
}






/* beispiel kommunikation*/

.bsp_komm{
	position:absolute;
	top:200px;
	left:80px;
	/*width:150px;
	height:150px;*/
}
.profilbilder_overlay{
	position:relative;
	width:128px;
	height:48px;
	bottom:30px;
	left:-20px;
	border:2px solid black;
	background-color: #FFF
}
.creator_overlay{
	background-color:#999;
	position:relative;
	left:0px;
	top:0px;
	width:64px;
	height:48px;
}
.last_contributor_overlay{
	background-color:#333;
	position:absolute;
	top:0px;
	right:0px;
	width:64px;
	height:48px;
}
.profilbilder_overlay{
	display:none;
}
.bsp_komm a > div{
	width:166px;
	height:148px;
	margin-right:50px;
	margin-bottom:50px;
}
a:hover .profilbilder_overlay{
	display:block;
}

/* fehler seite*/

.fehler_pic{
	max-height:100%;
	max-width:100%;
}


.fehler_pic_02{
	position:absolute;
	width:302px;
	height:232px;
	margin:-116px 0px 0px -151px;
	top:50%;
	left:50%;
}



/*profil löschen*/

.thumb_up{
	background-image:url(../images/thumb_up-03.png);
	cursor:pointer;
	position:absolute;
	width:150px;
	height:150px;
	overflow:hidden;
	top:180px;
	left:300px;
	background-color:#FFF;
	border:none;
}
.thumb_up:hover{
	background-position: 0px 150px;
}.thumb_down{
	background-image:url(../images/thumb_down-03.png);
	cursor:pointer;
	position:absolute;
	width:150px;
	height:150px;
	overflow:hidden;
	top:180px;
	left:430px;
}
.thumb_down:hover{
	background-position: 0px 150px;
}

.delete_profile_illu{
	position:absolute;
	left:20px;
	top:100px;
}



/*forgot pw */

#enter_mail{
	position:absolute;
	left:160px;
	top:50px;	
}
.forgot_pw_container{
	position:absolute;
	width:300px;
	height:140px;
	margin:-70px 0px 0px -150px;
	top:50%;
	left:50%;
}
.submit_mail{
	background-image:url(../images/submit_button-02.png);
	cursor:pointer;
	position:absolute;
	width:80px;
	height:70px;
	overflow:hidden;
	left:70px;
	top:40px;
	background-color:#FFF;
	border:none;
}
.submit_mail:hover{
	background-position: 0px 70px;
}



.check_mail_container{
	position:absolute;
	width:151px;
	height:151px;
	margin:-75px 0px 0px -75px;
	top:50%;
	left:50%;
}

/* new post*/

.container_new_post{
	position:absolute;
	width:200px;
	height:250px;
	margin:-125px 0px 0px -85px;
	top:50%;
	left:50%;
}
.durchsuchen{
	background-image:url(../images/durchsuchen-02.png);
	cursor:pointer;
	position:absolute;
	width:81px;
	height:70px;
	overflow:hidden;
	left:0px;
	top:170px;
	background-color:#FFF;
	border:none;
}
.durchsuchen:hover{
	background-position: 0px 70px;
}
.submit_new_post{
	background-image:url(../images/submit_button-02.png);
	cursor:pointer;
	position:absolute;
	width:80px;
	height:70px;
	overflow:hidden;
	left:90px;
	top:170px;
	background-color:#FFF;
	border:none;
}
.submit_new_post:hover, .submit_new_post.disabled{
	background-position: 0px 70px;
}

.hochladebild{
	height: 150px;
	width: 200px;
	border:solid thin black;
	visibility:hidden;
}

/*passwort und bild ändern*/

.container_change_pw{
	position:absolute;
	width:300px;
	height:150px;
	margin:-75px 0px 0px -150px;
	top:50%;
	left:50%;
}

#pw_aendern td{
	height:50px;
	vertical-align:middle;
}



/*zusatzillus auf textseiten*/

.illus{
	position:absolute;
	top:40px;
	left:480px;
}


/*startseite mit countdown*/

#countdown{
	position:absolute;
	width:300px;
	height:40px;
	margin:-25px 0px 0px -150px;
	top:50%;
	left:40%;
	font-size:35px;
	text-align:center;
	background-color:#FFF;
	z-index:20;
	padding-top:12px;
}

.working_piu{
	position:absolute;
	width:201px;
	height:401px;
	bottom:30px;
	left:100px;
}

.info{
	position:absolute;
	width:346px;
	height:86px;
	top:0px;
	right:40px;
}

.infotext_container{
	position:absolute;
	height:465px;
	width:346px;
	top:0px;
	right:53px;
	padding-left:70px;
	padding-top:30px;
	margin-top:-370px;
	color:#FFF;
	/*background-image:url(../img/info-20.png);*/
	background-image:url(../img/infogross-22.png);
	background-position:top;
	background-repeat:no-repeat;
	z-index:10;
}

.infotext_container:hover{
	color:#000;
	margin-top:0px;	
}

.infotext{
	width:280px;
}

.facebook_buch{
	background-image:url(../img/facebook-23.png);
	position:absolute;
	height:81px;
	width:71px;
	bottom:10px;
	right:50px;
	z-index:20;
}
.facebook_buch:hover{
	background-position: 0px 81px;
}

.strich_boden{
	background-image:url(../img/strichi_profil-11.png);
	background-position:center center;
	background-repeat:no-repeat;
	width:100%;
	height:30px;
	bottom:20px;
	position:absolute;
	z-index:10;
}


#canvas{
	position:absolute;
	cursor:move;
}
#comment_post{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}
.bsp_komm div{
	float:left;
}

.own_communications{
  height:157px;
  overflow:auto;
  margin-left:255px;
  margin-top:110px;
}
.roots_of_comments{
  height:320px;
  overflow:auto;
  margin-left: 255px;
  margin-top: 60px;
}