<!-- content -->
<div class="rahmen_profilbild_gross"></div>
<div class="strichi_profil"></div>

<%= form_for :user, :as => :user, :url => "/users?id=#{current_user.id}", :html => { :method => :delete } do |f| %>
  <%= submit_tag "", :class => "delete_profile" %>
<% end %>