<!-- content -->
<div class="text">
<h1>the people behind piu piu</h1>  <br /><br />

piu people are weird. They laugh a lot and talk a lot of nonsense. But they can also work as hard as possible...and that's what we did.<br /><br />

piu people are:<br />
Magdalena Achleitner (concept, design, illustrations, chocolate supply) <br />
Sonja Stangl (idea, concept, design, illustrations, ice cream supply) <br />
Ismail Hanli (coding, hugs) <br />
Barbara Huber (coding version 1.0) <br /><br /><br />

special thanks to:<br />
Manuel Eisl (processing) <br />
Vladimir Veriv&eacute;lle (inspiration)<br />
chocolate &amp; ice cream (sacrificial cooperation)<br />
</div>