<!-- start icons --> 
 
<div class="start_container"> 
 
<a class="start_wtf" href="/wtf.html"></a> 
<a class="start_signup" href="<%= new_user_registration_path %>"></a> 
 
<div class="login"> 
<a class="start_login" href="<%= user_session_path %>"></a> 
 
<form class="login_feld" action="<%= user_session_path %>" method="post"> 
    <input type="email" size="18" name="user[email]" class="feld"> 
    <input type="password" size="18" name="user[password]" class="feld"> 
	<input type="image" name="check" class="check" />
	<%= link_to "", new_user_password_path, :class => "forgot_pw" %>
</form> 
</div><!-- end login --> 
 
</div><!-- end start container --> 