<!-- start icons --> 
 
<div class="start_container"> 
 
<a class="start_wtf" href="/wtf.html"></a> 
<a class="start_signup" href="users/sign_up"></a> 
 
<div class="login"> 
<a class="start_login" href="users/sign_in"></a> 
 
<form class="login_feld" action="/users/sign_in" method="post"> 
    <input type="email" size="18" name="user[email]" class="feld"> 
    <input type="password" size="18" name="user[password]" class="feld"> 
	<input name="check" type="image" class="check" />
    <a class="forgot_pw" href="#"></a> 
</form> 
</div><!-- end login --> 
 
</div><!-- end start container --> 