<!-- content -->
<div class="text">
<h1>wtf?</h1><br /><br />

These are the last words you'll find on our website. We want you to communicate absolutely without words. We lead with good example by using only icons for the navigation on the website. <br /><br />

You still may ask yourself "what the f***?" Let us explain: We are two multimediaart students from Austria. One day we thought, that the world could be a better place...and because we are only secretly super heroes, we had to find an unsuspicious way to get rid of some vicious rifles. Our first task is to decrease empty words, by creating this website ;) (with awesome help from multimediatechnology)<br /><br />

If you still ask yourself "what the f***?"...just try it!

</div>