.text2
  %h1 wtf?
  %br
  %br
  = "This is one of the few pages containig letters you'll find on our website. We want you to communicate absolutely without words. We lead with good example by using only icons for the navigation on the website."
  %br
  %br
  = "We are two multimediaart students from Austria. One day we thought, that the world could be a better place...and because we are only secretly super heroes, we had to find an unsuspicious way to get rid of some vicious rifles. Our first task is to decrease empty words, by creating this website ;) (with awesome help from multimediatechnology)"
  %br
  %br
  = "You still may ask yourself \"what the f***?\" We live in a world where we are swamped with information from various sources. The relevance of these messages is mostly questionable. Especially on social media platforms the spread of word vomit is carried to extremes. This often arises the feeling some people write faster than they think. To work against this we tried to slow down the process of developing messages by getting you to create them without words."
  %br
  %br
  = "If you still ask yourself \"what the f***?\"...just try it!"
  %img.illus{ :src => "/images/wtf_illu-18.png" }