:javascript
  $(document).ready(function(){
  
    $("#post_submit").prop("disabled", true);
    $("#post_submit").addClass("disabled");
    $(".durchsuchen").css("visibility", "visible");
    $("#post_image").css("visibility", "hidden");
  
    $("#post_image").change(function(){
      if($(this).val()){
        $("#post_submit").removeAttr("disabled");
        $("#post_submit").removeClass("disabled");
      }
      else{
        $("#post_submit").prop("disabled", true);
        $("#post_submit").addClass("disabled");
      }
    });
  });


= form_for @post, :html => { :class => "container_new_post", :multipart => "true" } do |f|
  = f.file_field :image
  = button_to_function "", "$('#post_image').trigger('click'); return true", :class => "durchsuchen", :style => "visibility:hidden"
  = f.submit "", :class => "submit_new_post"