<% if user_signed_in? %>
  <!-- menubar -->
  <a class="rahmen_profilbild aktiv" href="<%= user_root_path %>"></a>
  <a class="overview_link" href="overview.html"></a>
  <a class="new_post" href="#"></a>
  <a class="logout" href="<%= destroy_user_session_path %>"></a>
<% end %>
<a class="wtf" href="/wtf.html"></a>
<a class="impressum" href="/impressum.html"></a>