<!DOCTYPE html>
<html>
<head>
  <title>piu piu</title>
  <link rel="icon" href="/images/favicon_piupiu-01.png" type="image/ico" />
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

<!-- Layout -->
<div class="balken oben"></div>
<div class="balken unten"></div>
<div class="piupiu"></div>

<%= yield %>

</body>
</html>
