= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "container_new_post", :multipart => "true" }) do |f|
  %canvas{ :datasrc => "/processing/zeichentoolpiupiu.pde" :id => "zeichentool" }

  = f.submit "", :class => "submit"
  = link_to_function "", "document.getElementById('zeichentool').getContext('2d').clearRect(0,0,330,240); proceed = false; return false;", :class => "reset_processing"
  = f.hidden_field :image_data
  
:javascript
  $(window).load(function(){
    proceed = false;

    var canvas = document.getElementById("zeichentool");

    $("#zeichentool").click(function() {
      proceed = true;
    });

    $("#user_edit").submit(function() {
      if(proceed)
        $("#user_image_data").val(canvas.toDataURL().substring(22));

      return true;
    });
  });