<div class="container_change_pw">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :id => "pw_aendern" }) do |f| %>
    <%= f.hidden_field :reset_password_token %>
	<table>
      <tr>
        <td><%= image_tag "pw_falsch-17.png" %></td>
        <td><%= f.password_field :current_password, :size => "29", :class => "feld" %></td>
      </tr>
      <tr>
        <td><%= image_tag "pw-17.png" %></td>
        <td><%= f.password_field :password, :size => "29", :class => "feld" %></td>
      </tr>
      <tr>
        <td><%= image_tag "pw-17.png" %></td>
        <td><%= f.password_field :password_confirmation, :size => "29", :class => "feld" %></td>
      </tr>
    </table>
	<%= f.submit "", :class => "submit" %>
  <% end %>
</div>

.container_change_pw
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :id => "pw_aendern" }) do |f|
    %table
      %tr
        %td
          %img{ :src => "pw_falsch-17.png" }
        %td
          = f.password_field :current_password, :size => "29", :class => "feld"
      %tr
        %td
          %img{ :src => "pw-17.png" }
        %td
          = f.password_field :password, :size => "29", :class => "feld"
      %tr
        %td
          %img{ :src => "pw-17.png" }
        %td
          = f.password_field :password_confirmation, :size => "29", :class => "feld"